/* Personalizzazione delle card */
.card-custom {
    background-color: black;
    margin-bottom: 1.5rem;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
}

    .card-custom img {
        max-width: 100%;
        max-height: 10rem;
        overflow: hidden;
    }

    .card-custom .card-title {
        color: white;
        font-size: 1.25rem;
    }

    .card-custom .card-price {
        color: white;
    }

/* Personalizzazione dei bottoni */
.btn-custom,
.btn-custom:hover {
    background-color: #5cdb95;
    border: none;
}

    .btn-custom svg {
        background-color: black;
    }

    /* Personalizzazione del messaggio di benvenuto */
    .welcome-message {
        color: #5cdb95;
        font-weight: 600;
    }
